  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 class="margin-null">Monitor</h3>


            </div>

          </div>
        </div>
      </div>
      <!-- /.row (main row) -->
      <div class="row">
        <div class="col-sm-10">
          <div class="panel panel-default custom-panel" style="max-height: 400px;overflow-y: scroll;">
            <div class="panel-heading custom-panel-heading">Facility {{facility}}</div>
            <div class="panel-body"> <div class="btn-toolbar custom-toolbar">
              <div class="btn-group btn-group-sm">
                <button ng-repeat='slot in parkingSlots' class="btn btn-default custom-btn facility {{slot.status}}" id="{{slot.name}}" data-toggle="modal" data-target="#myModal" style="font-size:15px;"class='available-block' ng-click = 'slowParkingDetails(slot)' ><span class = "available-block"></span>
                  {{slot.name}}
                </button>
                <!-- <button ng-repeat='slot in parkingSlots' class="btn btn-default custom-btn facility {{slot.status}}" id="{{slot.slot}}" data-toggle="modal" data-target="#myModal" style="font-size:15px;"
                        class='available-block' ng-click = 'slowParkingDetails(slot.slot)' ><span class = "available-block"></span>
                        {{slot.slot}}
                      </button> -->

              <!-- <button ng-repeat='slot in data' class="btn btn-default custom-btn facility {{slot.status}}" id="{{slot.slot}}" data-toggle="modal" data-target="#myModal" style="font-size:10px;"
              class='available-block' ng-click = 'slowParkingDatails(slot.slot)' ><span class = "available-block"></span>
              {{slot.slot}}
            </button>  -->

          </div>
        </div></div>
      </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    
      <div class="modal-body">
        <p>name : {{slotDetails.name}} </p>
        <p>Sensor : {{slotDetails.slotId}} </p>
        <p>Facility : {{slotDetails.facilityId}} </p>
        <p>Client : {{slotDetails.clientId}} </p>
      </div>
      
    </div>

  </div>
</div>

<!--     <div class="col-sm-2">
      <div class="panel panel-default custom-panel">
        <div class="panel-heading custom-panel-heading">Edit</div>
        <div class="panel-body">
          <button class="btn btn-default editing-custom"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
          <button class="btn btn-default editing-custom"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
          <button class="btn btn-default editing-custom"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </div>
      </div>
    </div> -->
  </div>
</section>
</div>



<!-- /.content-wrapper -->

