  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Settings
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 class="margin-null">Settings</h3>


            </div>

          </div>
        </div>

        <!-- ./col -->
        
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <div class="panel panel-default custom-panel col-sm-8">
        <div class="panel-body">
          <div class="row">
           <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="addFacility()" style="margin: 0px 10px;">Add Facility</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSlot" style="margin: 0px 10px;">Add Slot</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mapSensors" style="margin: 0px 10px;">Map Sensors</button>
          </div>
        </div>
      </div>  
    </div>
  </section>

  <section class="content">
    <div ng-show = "showFacility" class="panel panel-default custom-panel col-sm-8">
      <div class="panel-body">  
        <div class="row">

          <div class="col-sm-4">
            <label>Facility Name</label>
            <div class="input-group">
              <input type="text" class="form-control">

            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 ">
              <button type="button" class="btn btn-primary custom-btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="addSlot" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default custom-panel">
              <div class="panel-body">  
                <div class="row">
                  <div class="col-sm-4">
                    <label>Facility</label>
                    <div class="dropdown">
                      <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">
                       {{selectedFacilityName}}
                       <span class="caret"></span></button>
                       <ul class="dropdown-menu">
                        <li ng-repeat = "item in facilityList"><a ng-click="selectedFacility(item)">{{item}}</a></li>
                      </ul>
                    </div> 
                  </div>
                </div>
                <div class="row">
                  <div id = 'slotFields'>
                    <div class="row">
                
                    <div class="col-sm-4">
                      <label>Slot Name</label>
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model = "slotData.name">

                      </div>
                    </div>

                    <div class="col-sm-4">
                      <label>Sensor ID</label>
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model = "slotData.sensorId">
                      </div>
                    </div>
                    </div>
                  </div>

                  <div class="col-sm-12 text-left ">
                    <button type="button" class="btn btn-primary custom-btn-primary" ng-click='addSlotFields()'>Add more</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-right ">
                    <button type="button" class="btn btn-primary custom-btn-primary" ng-click='addSlots()'>Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>